<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
    <link rel="stylesheet" type="text/css" href="/addTask.css">
</head>
<body>
    <form action="/postAddTask" method="post">
        <label for="title">Task Title:</label><br>
        <input type="text" id="title" name="title"><br><br>
        <label for="desc">Task Description:</label><br>
        <input type="text" id="desc" name="desc"><br><br>
        <label for="dueDate">Task due date:</label><br>
        <input type="text" id="dueDate" name="dueDate"><br><br>
        <button type="submit">Add Task</button>
    </form>
</body>
</html>